<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Dec_20.Vegitables"/>
      <class name="Dec_12.Practice_TestNG.FeedFileUpload"/>
      <class name="Dec_21.Animal"/>
      <class name="Dec_12.Practice_TestNG.EdgeBrowser"/>
      <class name="Dec_20.Fruits"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
